body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #4CAF50;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#content {
    margin-top: 20px;
}

#schedule, #members, #subjects {
    margin-top: 15px;
    text-align: left;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
